@{
    ViewData["Title"] = "Privacy Policy";
}


<h1>@ViewData["Title"]</h1>

<p>The webserver of this website collects logs containing</p>

<ul>
    <li>ip address</li>
    <li>operating system name and version</li>
    <li>browser name and version</li>
    <li>pages visited on this website</li>
</ul>

<p>
    of visitors. These infos are used in error cases for debugging purposes only and are not shared with any third party.
</p>

<p>
    If you register a account, the following personal data will be additionally stored in a database:
</p>

<ul>
    <li>email adress</li>
    <li>user name</li>
    <li>secure hash of your password</li>
    <li>Switch account name (optional)</li>
    <li>Switch friend code (optional)</li>
    <li>name of your Animal Crossing New Horizons villager (optional)</li>
    <li>name of your Animal Crossing New Horizons island (optional)</li>
    <li>(a field for a phone number exists, but is unused. This website does not need or asks for your phone number)</li>
</ul>

<p>
    Cookies are used to store your identity when logged in. This way you don't have to login each time, when visiting this site.
</p>

<p>
    Again, <b>no</b> data is shared with any third party and is only used to provide the services of this site. In addition you can see and delete any personal data through
    the acccount page. Thes source code of this page can be found on GitHub <a href="https://github.com/kuper-adrian/TurnipExchange">here</a>.
</p>

<p>
    To ensure a secure and private connection, this site is only reachable via HTTPS using an SSL certificate provided by Lets Encrypt. The server is hosted by Digital Ocean
    and located in Frankfurt (Main) in Germany.
</p>

<h1>Impressum (legal notice required by german law)</h1>

<p>
    Adrian Kuper<br />
    Von-Esmarch-Straße 34<br />
    48149 Münster<br />
    Germany<br />
    <br />
    adrian.kuper@hotmail.de
</p>