
@{
    ViewData["Title"] = "How It Works";
}

<h1>How It Works</h1>

<p>
    Do you want a good deal for your Animal Crossing New Horizons turnips? Just browse the available offers and travel to 
    some friendly villager's island via the provided Dodo code. There you can sell your turnips at a good price and make some bells in order
    to ease the pain in paying your debt to greedy Nook.
</p>
<p>
    Feel free to bring a gift for the island host as a small thank you for providing the turnip sale.
</p>
<p>
    If your own island has a good price for turnips, you can create your own sale (account required):
</p>
<ol>
    <li>In-game: Visit Bodo at your airport and open your island gates to visitors for everyone via a Dodo code</li>
    <li>Come here, login and click "Host sale"</li>
    <li>Enter the turnip price and dodo code</li>
    <li>Wait for visitors, let them sell their turnips and make some new friends</li>
    <li>Remove your sale</li>
</ol>
<p>
    <b>Remember:</b> Only create a sale when your island is open for visitors and remove your sale as soon as you don't want any more visitors.
    And as always: Be nice to each other. We all just want to pay our debts ;)
</p>
