@model TurnipExchange.Data.SaleOffer

@{
    ViewData["Title"] = "Index";
}



<h1>My Offer</h1>

@if (Model == null)
{
    <p>No offer yet...</p>
    <a asp-action="Create" asp-controller="MyOffer" class="btn btn-success">Create</a>
}
else
{
    <div class="row">
        <div class="col-md-12">
            @if (Model.Created.AddHours(12) < DateTime.Now)
            {
                <div class="alert alert-danger" role="alert">
                    Offer is expired
                </div>
            }
            else
            {
                <div class="alert alert-primary" role="alert">
                    Expires in ~@(12 - Model.Created.Hour % 12) hours.
                </div>
            }
            <div class="form-group">
                <label>Bells per turnip</label>
                <input asp-for="Price" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label>Created</label>
                <input asp-for="Created" class="form-control" disabled />
            </div>
        </div>
    </div>

    <a asp-action="Delete" asp-controller="MyOffer" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
}
