@model TurnipExchange.Data.SaleOffer

@{
    ViewData["Title"] = "Edit";
}

<h1>offer</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="DodoCode" class="control-label"></label>
                <input asp-for="DodoCode" class="form-control" />
                <span asp-validation-for="DodoCode" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input asp-for="Id" hidden />
                <input asp-for="Created" hidden />
                <input asp-for="Expires" hidden />
                <input asp-for="IsActive" hidden />
                <input asp-for="UserId" hidden />

                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
